{% extends 'base.html' %}

{% block title %}Spell slot tracker{% endblock %}

{% block head %}{% endblock %}

{% block first_header %}Add a spell{% endblock %}

{% block body %}

Which spell would you like to add? 

<form action="/handle_add_spell-{{ char_id }}">
<select name="spell_to_add">
    {% for spell in spell_options %}
        <option value="{{ spell.spell_slug }}">
            {{ spell.spell_name }}
        </option>
    {% endfor %}
</select>
<button type="submit">Add</button>
</form>

<p>Spell list:</p>
<ul>
    {% for spell in spell_options %}
        <li>{{ spell.spell_name }}</li>
    {% endfor %}
</ul>

{% endblock %}

{% block after_body %}{% endblock %}