{% extends 'base.html' %}

{% block title %}Spell slot tracker{% endblock %}

{% block js %}{% endblock %}

{% block head %}{% endblock %}

{% block first_header %}{% endblock %}

{% block body %}

<ul class="nav nav-tabs" id="nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/browse-all-spells">All spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-bard-spells">Bard spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-cleric-spells">Cleric spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-druid-spells">Druid spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-paladin-spells">Paladin spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-ranger-spells">Ranger spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-sorcerer-spells">Sorcerer spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/browse-warlock-spells">Warlock spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/browse-wizard-spells">Wizard spells</a>
    </li>
</ul>



<div container>

  <div class="card-group d-flex flex-wrap" id="all-spells">
    <h6>Wizard spells</h6>
    <ul>
      {% for spell in spells %}
      <div class="card border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" id="title-{{ spell.spell_slug }}">
            {{ spell.spell_name }}
            {% if spell.ritual == "yes" %}
             (R)
            {% endif %}
            {% if spell.concentration == "yes" %}
             (C)
            {% endif %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Base level: {{ spell.spell_level }}</h6>
          <button class="btn btn-info btn-sm spell-card-btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offCanvas"
                  aria-controls="offCanvas"
                  id="btn-{{ spell.spell_slug }}">
            See details
          </button>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>

</div>

<div class="offcanvas offcanvas-start"
     data-bs-scroll="true"
     tabindex="-1"
     id="offCanvas"
     aria-labelledby="offCanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offCanvasLabel">Title - (R) (C)</h5>
    <button type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close">
    </button>
  </div>
  <div class="offcanvas-body">
    <p id='level-school'>level, school</p>
    <p id='casting-time'>casting time</p>
    <p id='range'>range</p>
    <p id='components-materials'>components, component list if necessary</p>
    <p id='duration'>duration</p>
    <p id='classes'>classes</p>
    <p id='description'>description</p>
    <p id='hl-description' hidden=true>hl description</p>
  </div>
</div>


<script src="/static/js/showSpells.js"></script>
{% endblock %}

{% block after_body %}{% endblock %}