{% extends 'base.html' %}

{% block title %}Spell slot tracker{% endblock %}

{% block js %}{% endblock %}

{% block head %}{% endblock %}

{% block first_header %}{% endblock %}

{% block body %}

<ul class="nav nav-tabs" id="nav-tabs">
    {% for class in ['all', 'bard', 'cleric', 'druid', 'paladin', 'ranger', 'sorcerer', 'warlock', 'wizard'] %}
        <li class="nav-item">
            <a class="nav-link spell-tab" href="/browse-{{ class }}-spells" id="{{ class }}-tab">{{ class.title() }} spells</a>
        </li>
    {% endfor %}
</ul>

<div class="container" id="spell-cards">

</div>

<script src="/static/js/showSpells.jsx" type="text/jsx"></script>
<script src="/static/js/browseSpells.js"></script>
{% endblock %}

{% block after_body %}{% endblock %}