{% extends 'base.html' %}

{% block title %}Spell slot tracker{% endblock %}

{% block head %}{% endblock %}

{% block first_header %}Spell slot character creation{% endblock %}

{% block body %}
<form action="/new-char-registration" method="POST">
    <p>What's your character's name? <input type="text" name="char-name"></p>
    <p>What's your character's class? <select name=char-class>
        <option value="bard">Bard</option>
        <option value="cleric">Cleric</option>
        <option value="druid">Druid</option>
        <option value="paladin">Paladin</option>
        <option value="ranger">Ranger</option>
        <option value="sorcerer">Sorcerer</option>
        <option value="warlock">Warlock</option>
        <option value="wizard">Wizard</option>
        <option value="multiclass">Multiclass</option>
    </select></p>
    <p>What's your character's caster level?</p>
    {% for num in range(1,21) %}
        <input type="radio" name="char-level" value={{ num }}>{{ num }}
    {% endfor %}
    <p><button type="submit">Let's go!</button></p>
</form>
{% endblock %}

{% block after_body %}{% endblock %}