{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container" id="homepage-container">

    <div id="log-in-div">
        <h4 id="log-in-heading">Log in:</h4>
        <form action="/login" method="POST">
            <p>Email <input type="text" name= "email"></p>
            <p>Password <input type="password" name="password"></p>
            <button type="submit" class="register-button log-in-button">Get casting!</button>
        </form>
    </div>

    <p>If you don't yet have an account, <button class="register-button" data-bs-toggle="collapse" data-bs-target="#register-collapse">register now.</button></p>
    <div class="collapse" id="register-collapse">
        <form action="/new-user-registration" method="POST">
            <p>What's your name? <input type="text" name="new-user-name"></p>
            <p>What's your email address? <input type="text" name="new-user-email"></p>
            <p>What do you want your password to be? <input type="password" name="new-user-password"></p>
            <p><button type="submit" class="register-button">Register</button> with the above details.</p>
        </form>
    </div>
</div>







{% endblock %}

{% block after_body %}{% endblock %}