{% extends 'base.html' %}

{% block title %}Spell Slot Tracker{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="container" id="register-container">
    <form action="/new-user-registration" method="POST">
        <p>What's your name? <input type="text" name="new-user-name"></p>
        <p>What's your email address? <input type="text" name="new-user-email"></p>
        <p>What do you want your password to be? <input type="password" name="new-user-password"></p>
        <p><button type="submit" class="register-button">Register</button> with the above details.</p>
    </form>
</div>

{% endblock %}

{% block after_body %}{% endblock %}