{% extends 'base.html' %}

{% block title %}Spell slot tracker{% endblock %}

{% block js %}{% endblock %}

{% block head %}{% endblock %}

{% block first_header %}{% endblock %}

{% block body %}
    <!-- hidden input with char id so its value can be query selected-->
    <input type="hidden" id="char-id" value="{{ char.character_id }}">

    <section id="menu">
        <button id="long-rest"><a href='/handle-long-rest/{{ char.character_id }}'>Long Rest</a></button>

        {% if char.class_id == 11 %}
            <button id="short-rest">Short Rest</button>
        {% endif %}
    </section>


    <section id="spells-known">
        {{ char.character_name.upper() }}'S CANTRIPS
        <ul></ul>
    </section>


    <section id="board">
        SLOTS 
        <container id="slot-buttons-container">
          <!-- get Shalini's thoughts on this part because YIKES-->
          {% for level in slot_details.keys() %}
            {% if slot_details[level] > 0 and level != 'cantrips_known' %}
              <p>Level {{ level[-1] }} slots per day: {{ slot_details[level] }}</p>
              {% for slot in total_day_slots %}
                {% if slot.slot_level == level[-1]|int %}
                  {% if slot.spell_type_id %}
                    <button class="btn btn-primary" disabled=true>{{ slot.spell_type_id }}</button>
                  {% elif  slot.slot_reference %}
                    <button class="btn btn-primary" disabled=true>{{ slot.slot_reference }}</button>
                  {% else %}
                  <button type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#spellModal" 
                  slotLevel="{{ level[-1] }}"
                  id="cast-pos-{{loop.index}}">
                      LEVEL {{ level[-1] }} CAST
                  </button>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </container>
    </section>

    {% if slots_used_today|length > 0 %}
      Slots used today:
      <ul>
        {% for slot in slots_used_today %}
          <li>Level {{ slot.level }} | {% if slot.spell_name %}{{ slot.spell_name }}{% else %}{{ slot.note }}{% endif %}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <div class="modal fade" id="spellModal" tabindex="-1" aria-hidden="true">
      <input type="hidden" name="slot-used" id="slot-used">
      <input type="hidden" name="button-used" id="button-used">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">What do you want to use this level <span name="slotSpan" id="slotSpan"></span> slot for?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="castingForm" name="castingForm">
              <div class="mb-3">
                <select name="spell-cast" id="spell-cast">
                    <option id="dropdown-other" value="other">No spell - add note</option>
                    {% for spell in spell_options %}
                        <option name="{{ spell.spell_name}}" id="dropdown-{{ spell.spell_slug }}" value="{{ spell.spell_slug }}">
                            {{ spell.spell_name }}
                        </option>
                    {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                Note:
                <textarea name="note" id="note"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Cast spell</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script src="/static/js/tracker.js"></script>
{% endblock %}

{% block after_body %}{% endblock %}